*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #777;
    width: 80px;
}

img {
    max-width: 100%;
}

.myBanerLink {
    font-size: 23px;
    margin-left: 20px;
}

.myBaner {
    width: 450px;
    position: relative;
    left: -150px;
}

.myBackgrandButton {
    background-color: rgba(21, 245, 53, 0.45);;
}

.mySector {
    margin-left: 10px;
}

.myMarket {
    margin-left: 10px;
}

.myIndustry {
    margin-left: 10px;
}

.myPokaz {
    margin-top: 10px;
}

.positive {
    color: green;
    font-weight: bold;
}

.negative {
    color: red;
    font-weight: bold;
}

.isNote {
    color: #0095ff;
}

.myLabelStrategy {
    font-size: 14px;
}

.myNaviButton {
    display: flex;
    margin-left: 40%;
}

.myColumn {
    width: 50%;
    margin: 20px 10px;
    padding-left: 50px;
}

.myForm {
    display: flex;
}

.myDisplayFlex {
    display: flex;
    height: 35px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.label-course {
    padding-top: 6px;
    width: 134px;
    text-align: right;
    margin-right: 10px;
}

.input-course {
    width: 110px;
    margin-right: 25%;
}

.bg-dark {
    background-color: #dde5ec !important;
    border-radius: .35rem;
}

.myTable td {
    padding: 0px;
    border-top: 0px;
    vertical-align: middle;
}

.myTableA {
    color: black;
    text-decoration: none;
}
.myTableA:hover {
    color: black;
    text-decoration: none;
}

.myBorder {
    border: 2px solid #61a5ea;
}

.tytulyKolumn{
    background-color: grey;
    color: white;
}

.table thead th {
    vertical-align: middle;
}

.tableWidth {
    width: 29%;
}

.tableWidthSector {
    width: 24%;
}

.myTableMarketTh {
    vertical-align: middle;
    padding: 0px;
    width: 10%;
}

.textCenter {
    text-align: center;
}

.listSpolka {
    max-height: 95%;
    overflow: auto;

}

.listMarket {
    background-color: #f1f1f1;
}

.listIndustry {
    max-height: 220px;
    overflow: auto;
    background-color: #f1f1f1;
}

.listSector {
    max-height: 220px;
    overflow: auto;
    background-color: #f1f1f1;
}

.myColor {
    color: #61a5ea;
    border-color: #61a5ea;
}

.myColor:hover {
    background-color: #61a5ea;
    border-color: #61a5ea;
}

.btn-outline-success {
    color: #61a5ea;
    background-color: transparent;
    background-image: none;
    border-color: #61a5ea;
    margin: 0 15px 0 10px;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #61a5ea;
    border-color: #61a5ea;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #61a5ea;
    border-color: #61a5ea;
}


/* Container */
.container {
    max-width: 1400px;
    margin: 20px auto;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

/* Main */
main {
    display: flex;
    justify-content: space-between;
    height: 1220px;
}

label {
    width: 90%;
}

/* Article */
article {
    width: 72%;
    padding: 30px;
    /*height: 1100px;*/
}

/* Aside */
aside {
    width: 28%;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
}

.widget {
    margin-bottom: 35px;
}

.widget img {
    float: left;
    margin: 0 12px 5px 0;
    width: 47%;
}

.widget:after {
    content: '';
    display: table;
    clear: both;
}

.widget ul {
    list-style-type: square;
    padding: 0 0 0 18px;
    margin: 0;
}

.widget li {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    padding: 22px 15px;
    text-align: center;
}

footer p {
    margin: 0;
}

section p {
    text-align: justify;
}

.myNote{
    cursor: pointer;
}


.myNote:hover{
    cursor: pointer;
}


/*POPUP*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup {
    /*margin: 70px auto;*/
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 330px;
    position: relative;
    transition: all 1s ease-in-out;
    top: 40%;
    left: 65%;
}
.popup h2 {
    margin-top: -2px;
    margin-right: 4px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: -5px;
    right: -60px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #61a5ea;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.center{
    margin: 20px 17%;
}
.zacznijmy{
    color:black;
    margin-left: 36%;
}
.box {
    width: 40%;
    padding: 35px;
    border: 2px solid #fff;
}

.boxstyle{
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    box-shadow: 0px 0px 25px 0px #06D85F inset;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}
/*POPUP*/

/*MEDIA*/
@media (max-width: 1320px ) {
    .listSpolka {
        max-height: 95%;
    }

    main {
        height: 1350px;
    }
}

@media (max-width: 1150px ) {
    .listSpolka {
        max-height: 95%;
    }

    main {
        height: 1700px;
    }

    .input-course {
        width: 100px;
        margin-right: 10%;
    }
}

@media (max-width: 960px ) {
    .listSpolka {
        max-height: 95%;
    }

    main {
        height: 1750px;
    }
}

@media (max-width: 910px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 1800px;
    }
}

@media (max-width: 840px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 1840px;
    }

    .myNaviButton {
        margin-left: 30%;
    }

    article {
        padding: 0px;
    }
}

@media (max-width: 800px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 2250px;
    }

    .myColumn {
        width: 46%;
        margin: 10px 0px;
        padding-left: 5px;
    }

    .myNaviButton {
        margin-left: 20%;
    }
    .popup {
        width: 330px;
        top: 10%;
        left: 40%;
    }
}

@media (max-width: 758px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 2500px;
    }
}

@media (max-width: 700px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 25200px;
    }
}

@media (max-width: 680px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 1940px;
    }

    section p {
        font-size: 80%;
    }
}

@media (max-width: 620px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 2170px;
    }

    .myColumn {
        width: 50%;
        margin: 0px 0px;
        padding-left: 0px;
    }

    .btn-outline-success {
        font-size: 90%;
    }

    h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 566px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 2250px;
    }

    .input-course {
        margin-right: 2px;
        font-size: 90%;
        width: 80px;
    }

    .myForm {
        font-size: 80%;
    }

    .btn-outline-success {
        font-size: 80%;
    }

    section p {
        font-size: 74%;
    }

    h3 {
        font-size: 1.0rem;
    }
}

@media (max-width: 458px ) {
    .listSpolka {
        max-height: 97%;
    }

    main {
        height: 2500px;
    }

    .btn-outline-success {
        font-size: 60%;
    }
    .popup {
        width: 330px;
        top: 10%;
        left: 10%;
    }
}