<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/LogoMM_Icon.png}">
    <title>Maestro Finansów</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark myBorder">
        <a class="navbar-brand" href="/"><img th:src="@{/img/LogoMM.png}" alt=""></a>

        <!--        <img class="myBaner" th:src="@{/img/slang13.png}" alt="">-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon myBackgrandButton"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{/loginOpenID}">Login-->
                <!--&lt;!&ndash;                        <img src="https://github.com/fluidicon.png" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <img th:src="@{/img/LogoChrome.png}" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--                        <span class="sr-only">(current)</span>-->
                <!--                    </a>-->
                <li class="nav-item">
                    <!--                    <a class="nav-link myBanerLink" th:href="@{/loginOpenID}">Login-->
                    <a class="nav-link myBanerLink" style="color: #61a5ea;" href="/loginMaestro">Login
                        <!--                        <img src="https://github.com/fluidicon.png" style="height: 19px; width: 19px;"/>-->
                        <!--                        <img th:src="@{/img/LogoChrome.png}" style="height: 19px; width: 19px;"/>-->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link myBanerLink" style="color: #61a5ea;" href="/amerykastrategie">Strategie</a>
                </li>
                <!--                <img style=" width: 450px;" th:src="@{/img/slang13.png}" alt="">-->
            </ul>
            <img class="myBaner" th:src="@{/img/slang13.png}" alt="">
            <form class="form-inline my-2 my-lg-0" method="POST" action="/amerykaspolka"
                  th:object="${amerykaSpolkaFind}">
                <input class="form-control mr-sm-2" type="search" placeholder="Ticker" th:field="*{ticker}">
                <button class="btn btn-outline-success my-2 my-sm-0 myColor" type="submit">Szukaj</button>
            </form>
        </div>
    </nav>
    <main>
        <aside>
            <section class="widget">
                <h3>O projekcie</h3>
                <img th:src="@{/img/prezes.jfif}" alt="">

                <p>Mając na uwadze chyżo nadciągający oczyszczający kryzys finansowy, a przede wszystkim ogromne bieżące
                    potrzeby
                    edukacyjne Polaków z zakresie świadomego, efektywnego i odpowiedzialnego KOMPONOWANIA własnych
                    FINANSÓW OSOBISTYCH,
                    wczoraj tj. 2020.02.02 o godzinie 20:02 rozpoczęliśmy realizacje projektu MAESTRO FINANSÓW.
                </p>
                <p>Zapraszam do kontaktu oraz współpracy na każdym etapie urzeczywistnienia tej innowacyjnej idei,
                    gdyż jest to Wasza rewolucja w KOMPONOWANIU Waszych finansów osobistych.</p>
            </section>
            <section class="widget">
                <h3>Z ostatniej chwili</h3>
                <img th:src="@{/img/dlugopisy.jfif}" alt="">
                <p>
                    Od samego początku Maestro Finansów chce być i jest odpowiedzialny społecznie, pomocny ludziom i
                    innowacyjny. Dostrzegając obecną
                    i przyszłą konieczność ograniczenia wzajemnego przekazywania sobie koronawirusa, zdecydowaliśmy się
                    zamówić (dzięki temu już teraz
                    pomagamy naszym przedsiębiorcom) i rozdać kilka tysięcy jednorazowych papierowych długopisów,
                    gdyż z przerażeniem widzimy, iż nadal w wielu miejscach funkcjonują „długopisy przekazywacze
                    wirusa”.
                </p>
                <p>
                    Zainteresowanych otrzymaniem paczuszki jednorazowych długopisów „uprasza się na privie” o podanie
                    paczkomatu,
                    w którym odbiorą oni swój antywirbox. Natomiast firmy zachęcamy do pójścia w nasze ślady,
                    bowiem dużo lepsze dla nas wszystkich jest przekazywanie serdecznego uśmiechu,
                    a wirusa w każdej postaci niezwłocznie wyrzucajmy do kosza (wirusolodzy pozwalają do "zwykłego").
                </p>
            </section>
        </aside>
        <article id="mainWebsite">
            <!--            <label style="color: red; font-weight: bold">LogoMM.png</label>-->
            <h1>Rynek amerykański</h1>
            <p></p>
            <div class="listSpolka" id="position">
                <table class="table table-hover bg-light">
                    <thead>
                    <tr class="tytulyKolumn">
                        <!--                        <th>Ticker</th>-->
                        <th class="tableWidth" style="font-weight: bold;vertical-align: middle;">Name</th>
                        <th class="tableWidthSector" style="width: 20%;">
                            Ticker<br>
                            Market
                        </th>
                        <th style="width: 14%;">Current<br>
                            Course
                        </th>
                        <!--                        <th>Market</th>-->
                        <th class="textCenter">YTD</th>
                        <th class="textCenter" style="padding-left: 0px; padding-right: 0px; width: 80px;">Edit</th>
                        <th class="textCenter" style="padding-left: 0px; padding-right: 0px; width: 100px;">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="amerykaSpolka: ${amerykaSpolki}">
                        <!--                        <td th:text="${amerykaSpolka.ticker}"/>-->
                        <td class="tableWidth" style="vertical-align: middle;font-weight: bold;">
                            <a class="myTableA" th:href="${amerykaSpolka.website}" th:text="${amerykaSpolka.name}"
                               target="_blank">
                            </a>
                        </td>

                        <!--                        <td class="tableWidth" style="vertical-align: middle;font-weight: bold;" th:text="${amerykaSpolka.name}"/>-->
                        <!--                        <a th:href="${amerykaSpolka.website}" th:text="${amerykaSpolka.name}"></a>-->

                        <td style="padding-bottom: 6px; padding-top: 6px;">
                            <table class="myTable" style="font-size: 75%;">
                                <tr>
                                    <!--                                    <td class="tableWidthSector" th:text="${amerykaSpolka.ticker}" th:href="${amerykaSpolka.website}"/>-->
                                    <td class="tableWidthSector">
                                        <a class="myTableA" th:text="${amerykaSpolka.ticker}"
                                           th:href="'https://finance.yahoo.com/quote/'+${amerykaSpolka.ticker}+'/profile?p='+${amerykaSpolka.ticker}"
                                           target="_blank">
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td th:text="${amerykaSpolka.market}"/>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align:middle;" th:text="${amerykaSpolka.courseCurrent}"/>

                        <td style="vertical-align:middle; padding: 0px;" th:text="${amerykaSpolka.yTD}"
                            th:class="${amerykaSpolka.yTD.startsWith('-')} ? 'textCenter negative' : 'textCenter positive'"/>
                        <td class="textCenter" style="vertical-align:middle;">
                            <a th:href="@{/amerykaspolka/edit(index=${amerykaSpolka.id})}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
<!--                        <td class="textCenter"><a href="#"><i class="fa fa-edit"></i></a></td>-->
                        <td class="textCenter" style="vertical-align:middle;">
                            <a th:href="@{/amerykaspolka/del(index=${amerykaSpolka.id})}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
<!--                                                <td><a th:href="@{/amerykaSpolka/del(index=${amerykaSpolka.ticker})}"><i class="fa fa-trash"></i></a></td>-->
<!--                        <td class="textCenter" style="vertical-align:middle;"><a href="/amerykastrategie"><i-->
<!--                                class="fa fa-trash"></i></a></td>-->
                    </tr>
                    </tbody>

                </table>

            </div>
        </article>
<!--        <aside>-->
<!--            <section class="widget">-->
<!--                <h3>O projekcie</h3>-->
<!--                <img th:src="@{/img/prezes.jfif}" alt="">-->

<!--                <p>Mając na uwadze chyżo nadciągający oczyszczający kryzys finansowy, a przede wszystkim ogromne bieżące-->
<!--                    potrzeby-->
<!--                    edukacyjne Polaków z zakresie świadomego, efektywnego i odpowiedzialnego KOMPONOWANIA własnych-->
<!--                    FINANSÓW OSOBISTYCH,-->
<!--                    wczoraj tj. 2020.02.02 o godzinie 20:02 rozpoczęliśmy realizacje projektu MAESTRO FINANSÓW.-->
<!--                </p>-->
<!--                <p>Zapraszam do kontaktu oraz współpracy na każdym etapie urzeczywistnienia tej innowacyjnej idei,-->
<!--                    gdyż jest to Wasza rewolucja w KOMPONOWANIU Waszych finansów osobistych.</p>-->
<!--            </section>-->
<!--            <section class="widget">-->
<!--                <h3>Z ostatniej chwili</h3>-->
<!--                <img th:src="@{/img/dlugopisy.jfif}" alt="">-->
<!--                <p>-->
<!--                    Od samego początku Maestro Finansów chce być i jest odpowiedzialny społecznie, pomocny ludziom i-->
<!--                    innowacyjny. Dostrzegając obecną-->
<!--                    i przyszłą konieczność ograniczenia wzajemnego przekazywania sobie koronawirusa, zdecydowaliśmy się-->
<!--                    zamówić (dzięki temu już teraz-->
<!--                    pomagamy naszym przedsiębiorcom) i rozdać kilka tysięcy jednorazowych papierowych długopisów,-->
<!--                    gdyż z przerażeniem widzimy, iż nadal w wielu miejscach funkcjonują „długopisy przekazywacze-->
<!--                    wirusa”.-->
<!--                </p>-->
<!--                <p>-->
<!--                    Zainteresowanych otrzymaniem paczuszki jednorazowych długopisów „uprasza się na privie” o podanie-->
<!--                    paczkomatu,-->
<!--                    w którym odbiorą oni swój antywirbox. Natomiast firmy zachęcamy do pójścia w nasze ślady,-->
<!--                    bowiem dużo lepsze dla nas wszystkich jest przekazywanie serdecznego uśmiechu,-->
<!--                    a wirusa w każdej postaci niezwłocznie wyrzucajmy do kosza (wirusolodzy pozwalają do "zwykłego").-->
<!--                </p>-->
<!--            </section>-->
<!--        </aside>-->
    </main>
    <footer>
        <p>Copyright &copy; 2020 - <a href="http://robertburek.pl" target="_blank">Robert Burek</a></p>
    </footer>
</div>
<script th:src="@{/js/info.js}"></script>
<!--<script src="js/info.js"></script>-->
</body>
</html>