<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/LogoIcon.png}">
    <title>Maestro Finansów</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark myBorder">
        <a class="navbar-brand" href="/"><img th:src="@{/img/LogoZ.png}" alt=""></a>
        <!--        <img style=" width: 450px;" th:src="@{/img/slang13.png}" alt="">-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon myBackgrandButton"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{/loginOpenID}">Login-->
                <!--&lt;!&ndash;                        <img src="https://github.com/fluidicon.png" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <img th:src="@{/img/LogoChrome.png}" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--                        <span class="sr-only">(current)</span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="http://robertburek.pl" target="_blank">Autor</a>-->
                <!--                </li>-->
            </ul>
            <img class="myBaner" th:src="@{/img/slang13.png}" alt="">
            <form class="form-inline my-2 my-lg-0" method="POST" action="/amerykaspolka"
                  th:object="${amerykaSpolkaFind}">
                <input class="form-control mr-sm-2" type="search" placeholder="Ticker" th:field="*{ticker}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </div>
    </nav>
    <main>
        <article>
            <section style="width: 100%;">
                </br></br>
                <h3 th:text="'Zmodyfikuj dane spółki: ' + ${amerykaSpolkaModified.name} + ' (' + ${amerykaSpolkaModified.ticker} + ')'">
                    Zmodyfikuj dane spólki.</h3>
                <!--                action="/nameDay/save/edit"-->

                <form method="POST" th:action="@{/amerykaspolka/save/edit}" th:object="${amerykaSpolkaModified}">
                    <div class="myForm">
                        <div class="myColumn">
                            <input th:field="*{idSpolka}" class="form-control" id="idSpolka" type="hidden">
                            <input th:field="*{idWszystkieDane}" class="form-control" id="idWszystkieDane" type="hidden">
                            <div class="form-group">
                                <label for="ticker">Ticker :
                                    <input th:field="*{ticker}" type="text" class="form-control" name="ticker" disabled>
                                    <input th:field="*{ticker}" class="form-control" id="ticker" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="nameSpolka">Name :
                                    <input th:field="*{name}" type="text" class="form-control" name="nameSpolka"
                                           disabled>
                                    <input th:field="*{name}" class="form-control" id="nameSpolka" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="market">Market :
                                    <input th:field="*{market}" type="text" class="form-control" name="market" disabled>
                                    <input th:field="*{market}" class="form-control" id="market" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="sector">Sector :
                                    <input th:field="*{sector}" type="text" class="form-control" name="sector" disabled>
                                    <input th:field="*{sector}" class="form-control" id="sector" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="industry">Industry :
                                    <input th:field="*{industry}" type="text" class="form-control" name="industry"
                                           disabled>
                                    <input th:field="*{industry}" class="form-control" id="industry" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Website :
                                    <input th:field="*{website}" type="text" class="form-control" name="website"
                                           disabled>
                                    <input th:field="*{website}" class="form-control" id="website" type="hidden">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="note">Note :
                                    <textarea th:field="*{note}" type="textArea" class="form-control" id="note"
                                              name="note"
                                              rows="5" cols="50" placeholder="Your note ...">
                                    </textarea>
                                </label>
                            </div>


                            <!--                    <div style="display: flex; margin: 0 20px 0 15px;">-->
                            <!--                    <button type="submit" class="btn btn-outline-success">Modyfikuj</button>-->
                            <!--                    <a class="btn btn-outline-success" href="/">Powrót</a>-->
                            <!--                    </div>-->
                        </div>
                        <div class="myColumn">
                            Historical stock :
                            <div class="form-group myDisplayFlex">
                                <label for="courseCurrent" class="label-course"
                                       th:text="*{dayCourseCurrent}+' :'"></label>
                                <input th:field="*{dayCourseCurrent}" type="hidden">
                                <input th:field="*{courseCurrent}" type="text" class="form-control input-course"
                                       id="courseCurrent"
                                       name="courseCurrent"
                                       placeholder="course">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="course1M" class="label-course" th:text="*{day1M}+' :'"></label>
                                <input th:field="*{day1M}" type="hidden">
                                <input th:field="*{course1M}" type="text" class="form-control input-course"
                                       id="course1M"
                                       name="course1M"
                                       placeholder="course">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="course3M" class="label-course" th:text="*{day3M}+' :'"></label>
                                <input th:field="*{day3M}" type="hidden">
                                <input th:field="*{course3M}" type="text" class="form-control input-course"
                                       id="course3M"
                                       name="course3M"
                                       placeholder="course">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="course12M" class="label-course" th:text="*{day12M}+' :'"></label>
                                <input th:field="*{day12M}" type="hidden">
                                <input th:field="*{course12M}" type="text" class="form-control input-course"
                                       id="course12M"
                                       name="course12M"
                                       placeholder="course">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="courseYTD" class="label-course" th:text="*{dayYTD}+' :'"></label>
                                <input th:field="*{dayYTD}" type="hidden">
                                <input th:field="*{courseYTD}" type="text" class="form-control input-course"
                                       id="courseYTD"
                                       name="courseYTD"
                                       placeholder="course">
                            </div>
                            <br>
                            Rates of return :
                            <div class="form-group myDisplayFlex">
                                <label for="YTD" class="label-course">YTD :</label>
                                <input th:field="*{yTD}" type="text" class="form-control input-course"
                                       id="YTD"
                                       name="YTD"
                                       placeholder="rates">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="M1" class="label-course">1M :</label>
                                <input th:field="*{m1}" type="text" class="form-control input-course"
                                       id="M1"
                                       name="M1"
                                       placeholder="rates">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="M3" class="label-course">3M :</label>
                                <input th:field="*{m3}" type="text" class="form-control input-course"
                                       id="M3"
                                       name="M3"
                                       placeholder="rates">
                            </div>
                            <div class="form-group myDisplayFlex">
                                <label for="M12" class="label-course">12M :</label>
                                <input th:field="*{m12}" type="text" class="form-control input-course"
                                       id="M12"
                                       name="M12"
                                       placeholder="rates">
                            </div>
                            <br>
                            Visible on list:
                            <div class="form-group form-check" style="margin-top: 6px;">
                                <label class="form-check-label" style="width: 80px;height: 40px;padding-top: 5px;margin-left: 63px;cursor: pointer;" for="widok">Show :</label>
                                <input type="checkbox" class="form-check-input" style="width: 28px; height: 28px;cursor: pointer;"
                                       th:field="*{widok}" th:checked="*{widok}" id="widok">
                            </div>

                        </div>
                    </div>
                    <!--                <button type="submit" class="btn btn-outline-success">Modyfikuj</button>-->
                    <div class="myNaviButton">
                        <button type="submit" class="btn btn-outline-success">Modyfikuj</button>
                        <a class="btn btn-outline-success" href="/">Powrót</a>
                    </div>
                </form>
                <!--            <div style="display: flex; margin: 0 20px 0 40%;">-->
                <!--                <button type="submit" class="btn btn-outline-success">Modyfikuj</button>-->
                <!--                <a class="btn btn-outline-success" href="/">Powrót</a>-->
                <!--            </div>-->
                </br>
                <!--            <a class="btn btn-outline-success" href="/">Powrót</a>-->
            </section>
        </article>

        <aside>
            <section class="widget">
                <h3>O projekcie</h3>
                <img th:src="@{/img/prezes.jfif}" alt="">

                <p>Mając na uwadze chyżo nadciągający oczyszczający kryzys finansowy, a przede wszystkim ogromne bieżące
                    potrzeby
                    edukacyjne Polaków z zakresie świadomego, efektywnego i odpowiedzialnego KOMPONOWANIA własnych
                    FINANSÓW OSOBISTYCH,
                    wczoraj tj. 2020.02.02 o godzinie 20:02 rozpoczęliśmy realizacje projektu MAESTRO FINANSÓW.
                </p>
                <p>Zapraszam do kontaktu oraz współpracy na każdym etapie urzeczywistnienia tej innowacyjnej idei,
                    gdyż jest to Wasza rewolucja w KOMPONOWANIU Waszych finansów osobistych.</p>
            </section>
            <section class="widget">
                <h3>Z ostatniej chwili</h3>
                <img th:src="@{/img/dlugopisy.jfif}" alt="">
                <p>
                    Od samego początku Maestro Finansów chce być i jest odpowiedzialny społecznie, pomocny ludziom i
                    innowacyjny. Dostrzegając obecną
                    i przyszłą konieczność ograniczenia wzajemnego przekazywania sobie koronawirusa, zdecydowaliśmy się
                    zamówić (dzięki temu już teraz
                    pomagamy naszym przedsiębiorcom) i rozdać kilka tysięcy jednorazowych papierowych długopisów,
                    gdyż z przerażeniem widzimy, iż nadal w wielu miejscach funkcjonują „długopisy przekazywacze
                    wirusa”.
                </p>
                <p>
                    Zainteresowanych otrzymaniem paczuszki jednorazowych długopisów „uprasza się na privie” o podanie
                    paczkomatu,
                    w którym odbiorą oni swój antywirbox. Natomiast firmy zachęcamy do pójścia w nasze ślady,
                    bowiem dużo lepsze dla nas wszystkich jest przekazywanie serdecznego uśmiechu,
                    a wirusa w każdej postaci niezwłocznie wyrzucajmy do kosza (wirusolodzy pozwalają do "zwykłego").
                </p>
            </section>
        </aside>

    </main>
    <footer>
        <p>Copyright &copy; 2020 - <a href="http://robertburek.pl" target="_blank">Robert Burek</a></p>
    </footer>
</div>
</body>
</html>