<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/LogoIcon.png}">
    <title>Maestro Finansów</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark myBorder">
        <a class="navbar-brand" href="/"><img th:src="@{/img/LogoZ.png}" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon myBackgrandButton"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{/loginOpenID}">Login-->
                <!--&lt;!&ndash;                        <img src="https://github.com/fluidicon.png" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <img th:src="@{/img/LogoChrome.png}" style="height: 19px; width: 19px;"/>&ndash;&gt;-->
                <!--                        <span class="sr-only">(current)</span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="http://robertburek.pl" target="_blank">Autor</a>-->
                <!--                </li>-->
            </ul>
            <img class="myBaner" th:src="@{/img/slang13.png}" alt="">
            <form class="form-inline my-2 my-lg-0 myBanerFormEdit" method="POST" action="/amerykastrategie/find"
                  th:object="${amerykaSpolkaFind}">
                <div class="input-group mb-3" style="margin-top: 17px;">
                    <select class="custom-select" id="inputGroupSelect" style="width: 105px;color: #61a5ea;" th:field="*{idWszystkieDane}">
                        <option value="1">Name</option>
                        <option value="2">Ticker</option>
                        <option value="3">Secktor</option>
                        <option value="4">Industry</option>
                    </select>
                    <input class="form-control mr-sm-2" type="search" placeholder="Phrase..." th:field="*{ticker}" style="width: 150px;">
                </div>
                    <button class="btn btn-outline-success my-2 my-sm-0 myColor" type="submit">Szukaj</button>
            </form>
        </div>
    </nav>
    <main>
        <aside style="width: 20%;">
            <!--            <label style="color: red; font-weight: bold">LogoZ.png</label>-->
            <p></p>
            <section class="widget">
                <h5>Pokaż spółki:</h5>
                <p>
                    <!--                MARKET                         -->
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitchMarket">
                    <label class="custom-control-label" for="customSwitchMarket" id="marketButton">Market</label>
                </div>
                <div class="listMarket">
                    <div th:each="market : ${marketList}" class="custom-control custom-switch myMarket" hidden>
                        <input type="checkbox" class="custom-control-input" th:id="'market' + ${market.id}">
                        <label th:text="${market.name}" class="custom-control-label myLabelStrategy myMarketLabel"
                               th:value="${market.id}"
                               th:for="'market'+${market.id}">NameMarket</label>
                    </div>
                </div>
                <!--                SECTOR                         -->
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitchSector">
                    <label class="custom-control-label" for="customSwitchSector" id="sectorButton">Sector</label>
                </div>
                <div class="listSector">
                    <div th:each="sector : ${sectorList}" class="custom-control custom-switch mySector" hidden>
                        <input type="checkbox" class="custom-control-input" th:id="'sector' + ${sector.id}">
                        <label th:text="${sector.name}" class="custom-control-label myLabelStrategy mySectorLabel"
                               th:value="${sector.id}"
                               th:for="'sector'+${sector.id}">NameSector</label>
                    </div>
                </div>
                <!--                INDUSTRY                         -->
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitchIndustry">
                    <label class="custom-control-label" for="customSwitchIndustry" id="industryButton">Industry</label>
                </div>
                <div class="listIndustry">
                    <div th:each="industry : ${industryList}" class="custom-control custom-switch myIndustry" hidden>
                        <input type="checkbox" class="custom-control-input" th:id="'industry' + ${industry.id}">
                        <label th:text="${industry.name}" class="custom-control-label myLabelStrategy myIndustryLabel"
                               th:value="${industry.id}"
                               th:for="'industry'+${industry.id}">NameIndustry</label>
                    </div>
                </div>

                </p>
            </section>

            <section class="widget">
                <h5>Filtrowanie:</h5>
                <p>
                    <!--                FILTROWANIE                         -->
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="dodatniaYTD" for="customSwitch4">YTD
                        dodatnia</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch5">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="ujemnaYTD" for="customSwitch5">YTD
                        ujemna</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch6">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="dodatnia1M" for="customSwitch6">1M
                        dodatnia</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch7">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="ujemna1M" for="customSwitch7">1M
                        ujemna</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch8">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="dodatnia3M" for="customSwitch8">3M
                        dodatnia</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch9">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="ujemna3M" for="customSwitch9">3M
                        ujemna</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch10">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="dodatnia12M" for="customSwitch10">12M
                        dodatnia</label>
                </div>
                <div class="custom-control custom-switch myPokaz">
                    <input type="checkbox" class="custom-control-input" id="customSwitch11">
                    <label class="custom-control-label myWyszukiwanieLabel" th:value="ujemna12M" for="customSwitch11">12M
                        ujemna</label>
                </div>
                </p>
            </section>

            <section class="widget">
                <h5>Sortowanie według:</h5>
                <p>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label mySortowanieLabel" value="NameRosnaco" for="customRadio1">Name
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="NameMalejaco" for="customRadio2">Name
                            malejąco</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="SectorRosnaco" for="customRadio3">Sector
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="SectorMalejaco" for="customRadio4">Sector
                            malejąco</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="YTDRosnaco" for="customRadio5">YTD
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="YTDMalejaco" for="customRadio6">YTD
                            malejąco</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="1MRosnaco" for="customRadio7">1M
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="1MMalejaco" for="customRadio8">1M
                            malejąco</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio9" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="3MRosnaco" for="customRadio9">3M
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio10" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="3MMalejaco" for="customRadio10">3M
                            malejąco</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio11" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="12MRosnaco" for="customRadio11">12M
                            rosnąco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio12" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label mySortowanieLabel" value="12MMalejaco" for="customRadio12">12M
                            malejąco</label>
                    </div>
                </div>
                </p>
            </section>
        </aside>
        <!--        OKIENKO POPUP-->
        <div id="popupNote" class="overlay">
            <div class="popup">
                <br>
                <h4 id="spolkaNote" style="text-align: center;"></h4>
                <form method="post" name="formNote">
                    <p>
                        <textarea id="textNote" name="textNote" type="textArea" class="form-control" rows="2" cols="50"
                                  placeholder="Your note ...">
                        </textarea>
                    </p>
                    <a class="close" href="#">&times;</a>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-outline-success" onclick="przeslijNote();">Zapisz</button>
                        <a class="btn btn-outline-success" href="#">Powrót</a>
                    </div>
                </form>
            </div>
        </div>
        <!--        <div class="comic">-->
        <!--            OMG, I am speaking fdvdfs in Comic Sans!-->
        <!--        </div>-->
        <!--        <div class="comment">-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, labore, corporis, error, sequi accusamus perspiciatis quo consequuntur doloremque quia provident itaque maiores tenetur velit aliquam dolor et laboriosam harum iure enim eum earum iusto placeat praesentium nostrum optio ipsum nihil porro vero accusantium culpa hic.</p>-->
        <!--        </div>-->

        <!--        WIDOK OKNA STRATEGII-->
        <article style="width: 80%; padding: 15px;">

            <div id="mojeZmiany" style="height: 97%">
                <button id="showAll" onclick="przeslijShowButton()"
                        class="btn btn-outline-success my-2 my-sm-0 myColor myShowStrategie"
                        th:text="${showAll} ? 'SHOW LESS' : 'SHOW ALL'" type="submit">SHOW ALL
                </button>            <!--       onclick="myFunction()     Show mine-->
                <p></p>
                <h4 th:text="'Wynik wyszukiwania: (' + ${wynikWyszukiwania} + ')'">Wyniki wyszukiwania:</h4>
                <p th:text="'Filtrowanie w kolejności:  '+ ${filtry}"></p>
                <div class="listSpolka" id="position">
                    <table class="table table-hover bg-light">
                        <thead>
                        <tr class="tytulyKolumn">
                            <th class="tableWidth">
                                Name <br>
                                Ticker
                            </th>
                            <th class="tableWidthSector">
                                Sector<br>
                                Indrusty
                            </th>
                            <th style="vertical-align: middle; padding: 0px; width: 10%;">Market</th>
                            <th class="textCenter">YTD</th>
                            <th class="textCenter">1M</th>
                            <th class="textCenter">3M</th>
                            <th class="textCenter">12M</th>
                            <th class="textCenter">Note</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="amerykaSpolka: ${amerykaSpolki}">
                            <div th:id="'wierszTabeli'+${amerykaSpolka.idSpolka}">
                                    <td style="padding-bottom: 0px;padding-top: 5px;">
                                        <table class="myTable ">
                                            <tr>
                                                <td class="tableWidth" style="font-weight: bold;">
                                                    <a class="myTableA" th:href="${amerykaSpolka.website}"
                                                       th:text="${amerykaSpolka.name}"
                                                       target="_blank">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 75%;">
                                                    <a class="myTableA" th:text="${amerykaSpolka.ticker}"
                                                       th:href="'https://finance.yahoo.com/quote/'+${amerykaSpolka.ticker}+'/profile?p='+${amerykaSpolka.ticker}"
                                                       target="_blank">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding-bottom: 6px; padding-top: 6px;">
                                        <table class="myTable" style="font-size: 75%;">
                                            <tr>
                                                <td class="tableWidthSector"
                                                    th:text="${amerykaSpolka.sector}"/>
                                            </tr>
                                            <tr>
                                                <td th:text="${amerykaSpolka.industry}"/>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align:middle; padding: 0px; font-size: 75%;"
                                        th:text="${amerykaSpolka.market}"/>
                                    <td style="vertical-align:middle; padding: 0px;" th:text="${amerykaSpolka.yTD}"
                                        th:class="${amerykaSpolka.yTD.startsWith('-')} ? 'textCenter negative' : 'textCenter positive'"/>
                                    <td style="vertical-align:middle; padding: 0px;" th:text="${amerykaSpolka.m1}"
                                        th:class="${amerykaSpolka.m1.startsWith('-')} ? 'textCenter negative' : 'textCenter positive'"/>
                                    <td style="vertical-align:middle; padding: 0px;" th:text="${amerykaSpolka.m3}"
                                        th:class="${amerykaSpolka.m3.startsWith('-')} ? 'textCenter negative' : 'textCenter positive'"/>
                                    <td style="vertical-align:middle; padding: 0px;" th:text="${amerykaSpolka.m12}"
                                        th:class="${amerykaSpolka.m12.startsWith('-')} ? 'textCenter negative' : 'textCenter positive'"/>
                                    <td class="textCenter" style="vertical-align:middle;">
                                        <i th:id="'note'+${amerykaSpolka.idSpolka}"
                                           th:title="${amerykaSpolka.note}"
                                           th:value="${amerykaSpolka.name}+' ('+${amerykaSpolka.ticker}+')'"
                                           th:onclick="'startPopup('+${amerykaSpolka.idSpolka}+');'"
                                           th:class="${amerykaSpolka.note.length()>0} ? 'far fa-comment-dots isNote myNote' : 'far fa-comment myNote'"
                                        ></i>
                                    </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>


    </main>
    <footer>
        <p>Copyright &copy; 2020 - <a href="http://robertburek.pl" target="_blank">Robert Burek</a></p>
    </footer>
</div>
<!--<script th:inline="javascript">-->

<!--    let industryList = [[${industryList}]];-->
<!--    console.log(industryList);-->
<!--    console.log("Zrobiłem listę Industry.");-->

<!--    let sectorList = [[${sectorList}]];-->
<!--    console.log(sectorList);-->
<!--    console.log("Zrobiłem listę Sector.");-->

<!-- </script>-->
<script th:src="@{/js/appStrategie.js}"></script>
</body>
</html>